<style>
    .navbar .brand{
        display: inline-block;
    }
    .navbar-inner .title {
        line-height: 60px;
        font-size: 18px
    }
    .navbar-inner .title a {
        color: #BADDC3;
    }
    .navbar-inner .nav > li {
        padding: 19px 0 0 26px;
    }
</style>

<div class="collapse navbar-collapse">
    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner clearfix">
                <div class="pull-left title">
                    <a class="brand" href="#">Stackoff</a>
                </div>
                <ul class="nav pull-left">
                    <li>
                        <form class="navbar-search pull-left">
                            <input type="text" ng-keypress="Search($event)" ng-model="search" class="search-query" placeholder="Search">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div style="margin-left: auto;margin-right: auto;width: 100%;">
    <div ng-repeat="(key, val) in data" id="{{key}}" ng-show="val.showData">
        <table class="table-condensed pull-left" style="width: 50%;float: left;">
            <tr>
                <th style="width: 1px;"></th>
                <th>现价：<br/>{{ val.current }}</th>
                <th>涨幅：<br/>{{ val.changeper }}</th>
                <th>最高：<br/>{{ val.high }}</th>
                <th>最低：<br/>{{ val.low }}</th>
                <th>昨日收盘：<br/>{{ val.preclose }}</th>
                <th>开盘：<br/>{{ val.open }}</th>
                <th>量比：<br/>{{ val.volumeper }}</th>
                <th>换手率：<br/>{{ val.tradechange }}</th>
                <th>市盈率：<br/>{{ val.tradeper }}</th>
                <th>市值：<br/>{{ val.marketprice }}</th>
            </tr>
            <tr>
                <th class="pull-left" style="width: 1px;">{{ val.name }}</th>
                <th colspan="10">
                    <div class="pull-left" DrawAll({{key}})>
                        <div id="stock_k{{key}}" style="height: 160px;width: 600px;"></div>
                        <div id="stock_v{{key}}" style="height: 140px;width: 600px;"></div>
                        <div id="stock_s{{key}}" style="height: 20px;width: 600px;"></div>
                    </div>
                </th>
                <th>
                    <p style=font-size:9px>卖五：{{ val.tradeout5 }}</p>
                    <p style=font-size:9px>卖四：{{ val.tradeout4 }}</p>
                    <p style=font-size:9px>卖三：{{ val.tradeout3 }}</p>
                    <p style=font-size:9px>卖二：{{ val.tradeout2 }}</p>
                    <p style=font-size:9px>卖一：{{ val.tradeout1 }}</p>
                    <p style=font-size:9px>买一：{{ val.tradein1 }}</p>
                    <p style=font-size:9px>买二：{{ val.tradein2 }}</p>
                    <p style=font-size:9px>买三：{{ val.tradein3 }}</p>
                    <p style=font-size:9px>买四：{{ val.tradein4 }}</p>
                    <p style=font-size:9px>买五：{{ val.tradein5 }}</p>
                </th>
            </tr>
        </table>
    </div>
</div>
